/* This is just an example.  You shouldn't do this. */
#emptyem-toolbar-empty-trash-junk-button
{
  list-style-image: url("chrome://emptyem/skin/emptyem.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#emptyem-toolbar-empty-trash-junk-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #emptyem-toolbar-empty-trash-junk-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #emptyem-toolbar-empty-trash-junk-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}
#emptyem-about-logo
{
  list-style-image: url("chrome://emptyem/skin/emptyem_icon.png");
}
